{
  "x-generator": "NSwag v13.18.2.0 (NJsonSchema v10.8.0.0 (Newtonsoft.Json v13.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "My API",
    "description": "My API descriptions",
    "version": "v1"
  },
  "host": "management.island.io",
  "schemes": [
    "https"
  ],
  "paths": {
    "/api/external/v1/adminActions": {
      "post": {
        "tags": [
          "AdminActions"
        ],
        "summary": "Get all admin actions that match the specified complex filter",
        "operationId": "AdminActions_Filtersss",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FilterAdminActionsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilterAdminActionsResponse"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "AdminActions"
        ],
        "summary": "Get all admin actions that match the specified simple filter",
        "operationId": "AdminActions_GetFilter",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "Start",
            "in": "query",
            "format": "date-time",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "End",
            "in": "query",
            "format": "date-time",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "Limit",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "Offset",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/FilterAdminActionsResponse"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/appAccess": {
      "post": {
        "tags": [
          "AppAccess"
        ],
        "summary": "Create AppAccess entity",
        "operationId": "AppAccess_Create",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalPamProfileDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExternalPamProfileDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "AppAccess"
        ],
        "summary": "Get all AppAccess entities",
        "operationId": "AppAccess_GetAll",
        "parameters": [
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": "Default",
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExternalPamProfileDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/appAccess/{id}": {
      "patch": {
        "tags": [
          "AppAccess"
        ],
        "summary": "Update (partial update) AppAccess entity",
        "operationId": "AppAccess_Patch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalPamProfileDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExternalPamProfileDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AppAccess"
        ],
        "summary": "Delete AppAccess entity",
        "operationId": "AppAccess_Remove",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "AppAccess"
        ],
        "summary": "Get AppAccess entity by ID",
        "operationId": "AppAccess_GetById",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": 1,
            "x-nullable": true,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExternalPamProfileDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "head": {
        "tags": [
          "AppAccess"
        ],
        "summary": "Check if AppAccess entity exists",
        "operationId": "AppAccess_Exists",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExternalPamProfileDto"
            }
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/appAccess/DeleteByIds": {
      "delete": {
        "tags": [
          "AppAccess"
        ],
        "summary": "Delete AppAccess entities by IDs",
        "operationId": "AppAccess_DeleteByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/appAccess/GetByIds": {
      "post": {
        "tags": [
          "AppAccess"
        ],
        "summary": "Get AppAccess entities by IDs",
        "operationId": "AppAccess_GetByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExternalPamProfileDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/appAccess/{id}/used-in": {
      "get": {
        "tags": [
          "AppAccess"
        ],
        "summary": "Check where AppAccess entity is used",
        "operationId": "AppAccess_UsedIn",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UsedInDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/applications": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Create Application entity",
        "operationId": "Application_Create",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalApiCustomAppDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExternalApiCustomAppDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Get all Application entities",
        "operationId": "Application_GetAll",
        "parameters": [
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": "Default",
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExternalApiCustomAppDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/applications/{id}": {
      "patch": {
        "tags": [
          "Application"
        ],
        "summary": "Update (partial update) Application entity",
        "operationId": "Application_Patch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExternalApiCustomAppDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExternalApiCustomAppDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Application"
        ],
        "summary": "Delete Application entity",
        "operationId": "Application_Remove",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Get Application entity by ID",
        "operationId": "Application_GetById",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": 1,
            "x-nullable": true,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExternalApiCustomAppDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "head": {
        "tags": [
          "Application"
        ],
        "summary": "Check if Application entity exists",
        "operationId": "Application_Exists",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ExternalApiCustomAppDto"
            }
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/applications/builtIns": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Get a list of filtered applications",
        "operationId": "Application_Filter",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The search query",
            "schema": {
              "$ref": "#/definitions/QuerySaasApplicationsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of filtered applications",
            "schema": {
              "$ref": "#/definitions/GetApplicationsResponse"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/applications/DeleteByIds": {
      "delete": {
        "tags": [
          "Application"
        ],
        "summary": "Delete Application entities by IDs",
        "operationId": "Application_DeleteByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/applications/GetByIds": {
      "post": {
        "tags": [
          "Application"
        ],
        "summary": "Get Application entities by IDs",
        "operationId": "Application_GetByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExternalApiCustomAppDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/applications/{id}/used-in": {
      "get": {
        "tags": [
          "Application"
        ],
        "summary": "Check where Application entity is used",
        "operationId": "Application_UsedIn",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UsedInDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/browserPolicy": {
      "post": {
        "tags": [
          "BrowserPolicy"
        ],
        "summary": "Create BrowserPolicy entity",
        "operationId": "BrowserPolicy_Create",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagementBrowserPolicyDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ManagementBrowserPolicyDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "BrowserPolicy"
        ],
        "summary": "Get all BrowserPolicy entities",
        "operationId": "BrowserPolicy_GetAll",
        "parameters": [
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": "Default",
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ManagementBrowserPolicyDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/browserPolicy/{id}": {
      "patch": {
        "tags": [
          "BrowserPolicy"
        ],
        "summary": "Update (partial update) BrowserPolicy entity",
        "operationId": "BrowserPolicy_Patch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ManagementBrowserPolicyDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ManagementBrowserPolicyDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "BrowserPolicy"
        ],
        "summary": "Delete BrowserPolicy entity",
        "operationId": "BrowserPolicy_Remove",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "BrowserPolicy"
        ],
        "summary": "Get BrowserPolicy entity by ID",
        "operationId": "BrowserPolicy_GetById",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": 1,
            "x-nullable": true,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ManagementBrowserPolicyDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "head": {
        "tags": [
          "BrowserPolicy"
        ],
        "summary": "Check if BrowserPolicy entity exists",
        "operationId": "BrowserPolicy_Exists",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ManagementBrowserPolicyDto"
            }
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/browserPolicy/DeleteByIds": {
      "delete": {
        "tags": [
          "BrowserPolicy"
        ],
        "summary": "Delete BrowserPolicy entities by IDs",
        "operationId": "BrowserPolicy_DeleteByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/browserPolicy/GetByIds": {
      "post": {
        "tags": [
          "BrowserPolicy"
        ],
        "summary": "Get BrowserPolicy entities by IDs",
        "operationId": "BrowserPolicy_GetByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ManagementBrowserPolicyDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/browserPolicy/{id}/used-in": {
      "get": {
        "tags": [
          "BrowserPolicy"
        ],
        "summary": "Check where BrowserPolicy entity is used",
        "operationId": "BrowserPolicy_UsedIn",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UsedInDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/browserVersion": {
      "get": {
        "tags": [
          "BrowserVersion"
        ],
        "summary": "Get all browser versions",
        "operationId": "BrowserVersion_GetVersion",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "osType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/DownloadOsPlatform"
            },
            "x-nullable": false,
            "enum": [
              "Windows",
              "MacOs",
              "LinuxDebian",
              "LinuxRedHat",
              "WindowsExe",
              "WindowsMsi"
            ]
          },
          {
            "type": "string",
            "name": "browserChannel",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/BrowserChannel"
            },
            "x-nullable": false,
            "enum": [
              "Stable",
              "Beta",
              "Canary",
              "Dev"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/DownloadIslandBrowserDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/devicePostureObjects": {
      "post": {
        "tags": [
          "DevicePostureObjects"
        ],
        "summary": "Create DevicePostureObjects entity",
        "operationId": "DevicePostureObjects_Create",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevicePostureObjectDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DevicePostureObjectDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "DevicePostureObjects"
        ],
        "summary": "Get all DevicePostureObjects entities",
        "operationId": "DevicePostureObjects_GetAll",
        "parameters": [
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": "Default",
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DevicePostureObjectDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/devicePostureObjects/{id}": {
      "patch": {
        "tags": [
          "DevicePostureObjects"
        ],
        "summary": "Update (partial update) DevicePostureObjects entity",
        "operationId": "DevicePostureObjects_Patch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DevicePostureObjectDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DevicePostureObjectDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "DevicePostureObjects"
        ],
        "summary": "Delete DevicePostureObjects entity",
        "operationId": "DevicePostureObjects_Remove",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "DevicePostureObjects"
        ],
        "summary": "Get DevicePostureObjects entity by ID",
        "operationId": "DevicePostureObjects_GetById",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": 1,
            "x-nullable": true,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DevicePostureObjectDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "head": {
        "tags": [
          "DevicePostureObjects"
        ],
        "summary": "Check if DevicePostureObjects entity exists",
        "operationId": "DevicePostureObjects_Exists",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/DevicePostureObjectDto"
            }
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/devicePostureObjects/DeleteByIds": {
      "delete": {
        "tags": [
          "DevicePostureObjects"
        ],
        "summary": "Delete DevicePostureObjects entities by IDs",
        "operationId": "DevicePostureObjects_DeleteByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/devicePostureObjects/GetByIds": {
      "post": {
        "tags": [
          "DevicePostureObjects"
        ],
        "summary": "Get DevicePostureObjects entities by IDs",
        "operationId": "DevicePostureObjects_GetByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DevicePostureObjectDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/devicePostureObjects/{id}/used-in": {
      "get": {
        "tags": [
          "DevicePostureObjects"
        ],
        "summary": "Check where DevicePostureObjects entity is used",
        "operationId": "DevicePostureObjects_UsedIn",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UsedInDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/devices": {
      "post": {
        "tags": [
          "Devices"
        ],
        "summary": "Get list of all devices",
        "operationId": "Devices_Filter",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The search query",
            "schema": {
              "$ref": "#/definitions/QueryDevicesRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The list of filtered devices",
            "schema": {
              "$ref": "#/definitions/FilterDevicesResponse"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/devices/{id}": {
      "get": {
        "tags": [
          "Devices"
        ],
        "summary": "Get device details by ID",
        "operationId": "Devices_GetFilteredDeviceById",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "description": "The device id",
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "The request device details",
            "schema": {
              "$ref": "#/definitions/FilteredDeviceDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/identityObjects/getOrCreate": {
      "post": {
        "tags": [
          "IdentityObjects"
        ],
        "summary": "Get IdentityObjects entity by email. If IdentityObjects entity doesn’t exist, it will be created",
        "operationId": "IdentityObjects_GetOrCreate",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GetOrCreateIdentityRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/IdentityObjectDto"
            }
          },
          "201": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/IdentityObjectDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/identityObjects": {
      "post": {
        "tags": [
          "IdentityObjects"
        ],
        "summary": "Create IdentityObjects entity",
        "operationId": "IdentityObjects_Create",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityObjectDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IdentityObjectDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "IdentityObjects"
        ],
        "summary": "Get all IdentityObjects entities",
        "operationId": "IdentityObjects_GetAll",
        "parameters": [
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": "Default",
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityObjectDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/identityObjects/{id}": {
      "patch": {
        "tags": [
          "IdentityObjects"
        ],
        "summary": "Update (partial update) IdentityObjects entity",
        "operationId": "IdentityObjects_Patch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdentityObjectDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IdentityObjectDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "IdentityObjects"
        ],
        "summary": "Delete IdentityObjects entity",
        "operationId": "IdentityObjects_Remove",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "IdentityObjects"
        ],
        "summary": "Get IdentityObjects entity by ID",
        "operationId": "IdentityObjects_GetById",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": 1,
            "x-nullable": true,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IdentityObjectDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "head": {
        "tags": [
          "IdentityObjects"
        ],
        "summary": "Check if IdentityObjects entity exists",
        "operationId": "IdentityObjects_Exists",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/IdentityObjectDto"
            }
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/identityObjects/DeleteByIds": {
      "delete": {
        "tags": [
          "IdentityObjects"
        ],
        "summary": "Delete IdentityObjects entities by IDs",
        "operationId": "IdentityObjects_DeleteByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/identityObjects/GetByIds": {
      "post": {
        "tags": [
          "IdentityObjects"
        ],
        "summary": "Get IdentityObjects entities by IDs",
        "operationId": "IdentityObjects_GetByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IdentityObjectDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/identityObjects/{id}/used-in": {
      "get": {
        "tags": [
          "IdentityObjects"
        ],
        "summary": "Check where IdentityObjects entity is used",
        "operationId": "IdentityObjects_UsedIn",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UsedInDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/networkObjects": {
      "post": {
        "tags": [
          "NetworkObjects"
        ],
        "summary": "Create NetworkObjects entity",
        "operationId": "NetworkObjects_Create",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkObjectDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "201": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NetworkObjectDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "NetworkObjects"
        ],
        "summary": "Get all NetworkObjects entities",
        "operationId": "NetworkObjects_GetAll",
        "parameters": [
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": "Default",
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NetworkObjectDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/networkObjects/{id}": {
      "patch": {
        "tags": [
          "NetworkObjects"
        ],
        "summary": "Update (partial update) NetworkObjects entity",
        "operationId": "NetworkObjects_Patch",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "name": "item",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/NetworkObjectDto"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NetworkObjectDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "delete": {
        "tags": [
          "NetworkObjects"
        ],
        "summary": "Delete NetworkObjects entity",
        "operationId": "NetworkObjects_Remove",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "NetworkObjects"
        ],
        "summary": "Get NetworkObjects entity by ID",
        "operationId": "NetworkObjects_GetById",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "default": 1,
            "x-nullable": true,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NetworkObjectDto"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "head": {
        "tags": [
          "NetworkObjects"
        ],
        "summary": "Check if NetworkObjects entity exists",
        "operationId": "NetworkObjects_Exists",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/NetworkObjectDto"
            }
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/networkObjects/DeleteByIds": {
      "delete": {
        "tags": [
          "NetworkObjects"
        ],
        "summary": "Delete NetworkObjects entities by IDs",
        "operationId": "NetworkObjects_DeleteByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "400": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "500": {
            "description": ""
          },
          "200": {
            "description": ""
          },
          "204": {
            "description": ""
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/networkObjects/GetByIds": {
      "post": {
        "tags": [
          "NetworkObjects"
        ],
        "summary": "Get NetworkObjects entities by IDs",
        "operationId": "NetworkObjects_GetByIds",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionByIdsRequest"
            },
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "includeType",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/IncludeType"
            },
            "x-nullable": false,
            "enum": [
              "None",
              "Default",
              "All",
              "Update",
              "DefaultWithAdminInfo"
            ]
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/NetworkObjectDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/networkObjects/{id}/used-in": {
      "get": {
        "tags": [
          "NetworkObjects"
        ],
        "summary": "Check where NetworkObjects entity is used",
        "operationId": "NetworkObjects_UsedIn",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "format": "guid",
            "x-nullable": false
          }
        ],
        "responses": {
          "404": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ProblemDetails"
            }
          },
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/UsedInDto"
              }
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/timeline": {
      "post": {
        "tags": [
          "Timeline"
        ],
        "summary": "Get all timeline audits that match the specified complex filter",
        "operationId": "Timeline_Filter",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The search query",
            "schema": {
              "$ref": "#/definitions/QueryAuditsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetTimelineResponse"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      },
      "get": {
        "tags": [
          "Timeline"
        ],
        "summary": "Get all timeline audits that match the specified simple filter",
        "operationId": "Timeline_GetFilter",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "Start",
            "in": "query",
            "format": "date-time",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "End",
            "in": "query",
            "format": "date-time",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "Limit",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "Offset",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetTimelineResponse"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    },
    "/api/external/v1/users": {
      "get": {
        "tags": [
          "Users"
        ],
        "summary": "Get all browser users that match the specified simple filter",
        "operationId": "Users_GetFilter",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "Start",
            "in": "query",
            "format": "date-time",
            "x-nullable": false
          },
          {
            "type": "string",
            "name": "End",
            "in": "query",
            "format": "date-time",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "Limit",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          },
          {
            "type": "integer",
            "name": "Offset",
            "in": "query",
            "format": "int32",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GetFilteredUsersResponse"
            }
          }
        },
        "security": [
          {
            "api-key": []
          }
        ]
      }
    }
  },
  "definitions": {
    "ChromeWebStoreExtensionDto": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "owner": {
          "type": "string"
        },
        "category": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "logoUrl": {
          "type": "string"
        }
      }
    },
    "ProblemDetails": {
      "type": "object",
      "additionalProperties": {},
      "required": [
        "extensions"
      ],
      "properties": {
        "type": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "status": {
          "type": "integer",
          "format": "int32"
        },
        "detail": {
          "type": "string"
        },
        "instance": {
          "type": "string"
        },
        "extensions": {
          "type": "object",
          "additionalProperties": {}
        }
      }
    },
    "CloudStorageConnectorDto": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseManagementTenantDto"
        },
        {
          "type": "object",
          "required": [
            "connectorType",
            "providerType",
            "dataType",
            "outputFilesFormat",
            "saveScreenshots"
          ],
          "properties": {
            "connectorType": {
              "$ref": "#/definitions/CloudStorageConnectorType"
            },
            "providerType": {
              "$ref": "#/definitions/CloudStorageProviderType"
            },
            "dataType": {
              "$ref": "#/definitions/CloudStorageConnectorDataType"
            },
            "outputFilesFormat": {
              "$ref": "#/definitions/FileFormat"
            },
            "bucket": {
              "type": "string"
            },
            "prefix": {
              "type": "string"
            },
            "region": {
              "type": "string"
            },
            "roleArn": {
              "type": "string"
            },
            "lastSuccessfulWrite": {
              "type": "string",
              "format": "date-time"
            },
            "saveScreenshots": {
              "type": "boolean"
            }
          }
        }
      ]
    },
    "CloudStorageConnectorType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Snowflake",
        "AmazonS3"
      ],
      "enum": [
        "Snowflake",
        "AmazonS3"
      ]
    },
    "CloudStorageProviderType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "AmazonS3"
      ],
      "enum": [
        "AmazonS3"
      ]
    },
    "CloudStorageConnectorDataType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Audits",
        "SecureStorage"
      ],
      "enum": [
        "Audits",
        "SecureStorage"
      ]
    },
    "FileFormat": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Parquet",
        "Orc",
        "Json",
        "JsonLines",
        "CsvWithHeader",
        "CsvWithoutHeader"
      ],
      "enum": [
        "Parquet",
        "Orc",
        "Json",
        "JsonLines",
        "CsvWithHeader",
        "CsvWithoutHeader"
      ]
    },
    "BaseManagementTenantDto": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseTenantDto"
        },
        {
          "type": "object",
          "x-abstract": true,
          "properties": {
            "createdByUser": {
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/definitions/AdminDto"
                }
              ]
            },
            "updatedByUser": {
              "readOnly": true,
              "allOf": [
                {
                  "$ref": "#/definitions/AdminDto"
                }
              ]
            }
          }
        }
      ]
    },
    "AdminDto": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseTenantDto"
        },
        {
          "type": "object",
          "properties": {
            "firstName": {
              "type": "string"
            },
            "lastName": {
              "type": "string"
            },
            "name": {
              "type": "string"
            },
            "email": {
              "type": "string"
            },
            "auth0UserId": {
              "type": "string"
            }
          }
        }
      ]
    },
    "BaseTenantDto": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseDbDto"
        },
        {
          "type": "object",
          "x-abstract": true,
          "properties": {
            "tenantId": {
              "type": "string"
            }
          }
        }
      ]
    },
    "BaseDbDto": {
      "type": "object",
      "x-abstract": true,
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "guid"
        },
        "createdDate": {
          "type": "string",
          "format": "date-time"
        },
        "updatedDate": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "ActionByIdsRequest": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseRequest"
        },
        {
          "type": "object",
          "properties": {
            "ids": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "guid"
              }
            }
          }
        }
      ]
    },
    "BaseRequest": {
      "type": "object"
    },
    "IncludeType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "None",
        "Default",
        "All",
        "Update",
        "DefaultWithAdminInfo"
      ],
      "enum": [
        "None",
        "Default",
        "All",
        "Update",
        "DefaultWithAdminInfo"
      ]
    },
    "UsedInDto": {
      "type": "object",
      "required": [
        "id"
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "guid"
        },
        "name": {
          "type": "string"
        },
        "entityType": {
          "type": "string"
        }
      }
    },
    "GetDashboardResponse": {
      "type": "object",
      "properties": {
        "dashboard": {
          "$ref": "#/definitions/DashboardDto"
        }
      }
    },
    "DashboardDto": {
      "type": "object",
      "properties": {
        "widgets": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/WidgetDto"
          }
        }
      }
    },
    "WidgetDto": {
      "type": "object",
      "required": [
        "icon",
        "query",
        "type"
      ],
      "properties": {
        "description": {
          "type": "string"
        },
        "icon": {
          "$ref": "#/definitions/WidgetIcon"
        },
        "query": {
          "$ref": "#/definitions/StatisticQuery"
        },
        "value": {},
        "type": {
          "$ref": "#/definitions/WidgetType"
        },
        "metabaseUrlPath": {
          "type": "string"
        }
      }
    },
    "WidgetIcon": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Block",
        "Star",
        "Bolt"
      ],
      "enum": [
        "Block",
        "Star",
        "Bolt"
      ]
    },
    "StatisticQuery": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "All",
        "TotalActiveUsers",
        "TotalLastSeenDevices",
        "TotalBlockedUrls",
        "Top5MatchedRules",
        "Top5BrowsingCategories",
        "Top5NavigatedApplications",
        "Top5UsersViolatedDlpPolicy",
        "Top5UsedExtensions",
        "ApplicationDetails",
        "ApplicationActions"
      ],
      "enum": [
        "All",
        "TotalActiveUsers",
        "TotalLastSeenDevices",
        "TotalBlockedUrls",
        "Top5MatchedRules",
        "Top5BrowsingCategories",
        "Top5NavigatedApplications",
        "Top5UsersViolatedDlpPolicy",
        "Top5UsedExtensions",
        "ApplicationDetails",
        "ApplicationActions"
      ]
    },
    "WidgetType": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "SingleStat",
        "SingleStatWithDiff",
        "List",
        "ListWithDiff"
      ],
      "enum": [
        "SingleStat",
        "SingleStatWithDiff",
        "List",
        "ListWithDiff"
      ]
    },
    "GetApplicationDetailsResponse": {
      "type": "object",
      "required": [
        "usersCount",
        "webReputation"
      ],
      "properties": {
        "usersCount": {
          "type": "integer",
          "format": "int32"
        },
        "webReputation": {
          "type": "integer",
          "format": "int32"
        },
        "applicationActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationAction"
          }
        },
        "previousApplicationActions": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ApplicationAction"
          }
        }
      }
    },
    "ApplicationAction": {
      "type": "object",
      "required": [
        "type",
        "count"
      ],
      "properties": {
        "type": {
          "$ref": "#/definitions/AuditTypeEnum"
        },
        "verdict": {
          "$ref": "#/definitions/VerdictEnum"
        },
        "reason": {
          "type": "string"
        },
        "count": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "AuditTypeEnum": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "InPageRpa",
        "Copy",
        "Paste",
        "Drag",
        "Ssh",
        "Drop",
        "Navigation",
        "FileUpload",
        "FileDownload",
        "Print",
        "SaveAs",
        "BrowsingDataDeletion",
        "MitmProtection",
        "BrowserTamperingAttempt",
        "Login",
        "Logout",
        "AppAccess",
        "PageLeaveConfirmation",
        "Troubleshooting",
        "ConfigurationTamperingAttempt",
        "AntiPhishing",
        "Click",
        "Keystrokes",
        "StepUp",
        "PreferencesTamperingAttempt",
        "TermsOfUseApproved",
        "Screenshot",
        "ScreenRecording",
        "BrowserIsolation",
        "IslandPrivateAccessError",
        "SecureStorageDataRetention",
        "ExternalMessage",
        "ScreenshotProtectionBypass",
        "SafeBrowsing",
        "AttackSurfaceReduction",
        "BrowserUsage",
        "IslandAIAssistantMessageSent",
        "ScreenshotProtectionBypassCanceled",
        "ScreenshotProtectionBypassExtended",
        "EndpointAgentBrowserEnforcement"
      ],
      "enum": [
        "InPageRpa",
        "Copy",
        "Paste",
        "Drag",
        "Ssh",
        "Drop",
        "Navigation",
        "FileUpload",
        "FileDownload",
        "Print",
        "SaveAs",
        "BrowsingDataDeletion",
        "MitmProtection",
        "BrowserTamperingAttempt",
        "Login",
        "Logout",
        "AppAccess",
        "PageLeaveConfirmation",
        "Troubleshooting",
        "ConfigurationTamperingAttempt",
        "AntiPhishing",
        "Click",
        "Keystrokes",
        "StepUp",
        "PreferencesTamperingAttempt",
        "TermsOfUseApproved",
        "Screenshot",
        "ScreenRecording",
        "BrowserIsolation",
        "IslandPrivateAccessError",
        "SecureStorageDataRetention",
        "ExternalMessage",
        "ScreenshotProtectionBypass",
        "SafeBrowsing",
        "AttackSurfaceReduction",
        "BrowserUsage",
        "IslandAIAssistantMessageSent",
        "ScreenshotProtectionBypassCanceled",
        "ScreenshotProtectionBypassExtended",
        "EndpointAgentBrowserEnforcement"
      ]
    },
    "VerdictEnum": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Allowed",
        "Blocked",
        "Reported",
        "Warned",
        "WarnedContinue",
        "WarnedBack",
        "ReAuthenticating",
        "ClosedTab"
      ],
      "enum": [
        "Allowed",
        "Blocked",
        "Reported",
        "Warned",
        "WarnedContinue",
        "WarnedBack",
        "ReAuthenticating",
        "ClosedTab"
      ]
    },
    "Document360Article": {
      "type": "object",
      "properties": {
        "title": {
          "type": "string"
        },
        "slug": {
          "type": "string"
        },
        "url": {
          "type": "string"
        }
      }
    },
    "DownloadIslandBrowserDto": {
      "type": "object",
      "required": [
        "osType",
        "browserChannel"
      ],
      "properties": {
        "url": {
          "type": "string"
        },
        "version": {
          "type": "string"
        },
        "osType": {
          "$ref": "#/definitions/DownloadOsPlatform"
        },
        "browserChannel": {
          "$ref": "#/definitions/BrowserChannel"
        }
      }
    },
    "DownloadOsPlatform": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Windows",
        "MacOs",
        "LinuxDebian",
        "LinuxRedHat",
        "WindowsExe",
        "WindowsMsi"
      ],
      "enum": [
        "Windows",
        "MacOs",
        "LinuxDebian",
        "LinuxRedHat",
        "WindowsExe",
        "WindowsMsi"
      ]
    },
    "BrowserChannel": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Stable",
        "Beta",
        "Canary",
        "Dev"
      ],
      "enum": [
        "Stable",
        "Beta",
        "Canary",
        "Dev"
      ]
    },
    "MetabaseGeneralLinks": {
      "type": "object",
      "required": [
        "showFilteredCharts"
      ],
      "properties": {
        "showFilteredCharts": {
          "type": "boolean"
        },
        "filteredSafeBrowsing": {
          "type": "string"
        },
        "filteredBrowserTampering": {
          "type": "string"
        },
        "filteredUserTimeline": {
          "type": "string"
        },
        "filteredAllEvents": {
          "type": "string"
        },
        "devices": {
          "type": "string"
        },
        "adminAudit": {
          "type": "string"
        },
        "dataProtection": {
          "type": "string"
        },
        "safeBrowsing": {
          "type": "string"
        },
        "userTimeline": {
          "type": "string"
        },
        "websites": {
          "type": "string"
        },
        "digitalExperience": {
          "type": "string"
        },
        "digitalExperienceDevice": {
          "type": "string"
        },
        "allEvents": {
          "type": "string"
        },
        "browserUsers": {
          "type": "string"
        },
        "deploymentDashboard": {
          "type": "string"
        },
        "dataProtectionDashboard": {
          "type": "string"
        },
        "islandPrivateAccessDashboard": {
          "type": "string"
        },
        "lastMileControlDashboard": {
          "type": "string"
        },
        "webSecurityDashboard": {
          "type": "string"
        },
        "mainDashboard": {
          "type": "string"
        },
        "deviceSinglePageDashboard": {
          "type": "string"
        }
      }
    },
    "BrowserSettingsExcludeListRequest": {
      "type": "object",
      "properties": {
        "spkiHash": {
          "type": "string"
        }
      }
    },
    "PolicySimulationListResponse": {
      "type": "object",
      "properties": {
        "policies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BaseTenantDto"
          }
        }
      }
    },
    "PolicySimulationMapResponse": {
      "type": "object",
      "properties": {
        "policies": {
          "type": "object",
          "x-dictionaryKey": {
            "$ref": "#/definitions/CloudConfigurationTypeEnum"
          },
          "additionalProperties": {
            "$ref": "#/definitions/BaseTenantDto"
          }
        }
      }
    },
    "CloudConfigurationTypeEnum": {
      "type": "string",
      "description": "",
      "x-enumNames": [
        "Policy",
        "Homepage",
        "BrowserValidationApplication",
        "BrowserPolicy",
        "RegionAudiencePolicy",
        "PamPolicy",
        "BrowserSshHosts",
        "ZtnaPolicy",
        "LightweightHomepage",
        "ShortLinksPolicy",
        "BackofficeConfiguration",
        "AccessPolicy",
        "GlobalSettings",
        "EndpointPolicy",
        "BrandingPolicy"
      ],
      "enum": [
        "Policy",
        "Homepage",
        "BrowserValidationApplication",
        "BrowserPolicy",
        "RegionAudiencePolicy",
        "PamPolicy",
        "BrowserSshHosts",
        "ZtnaPolicy",
        "LightweightHomepage",
        "ShortLinksPolicy",
        "BackofficeConfiguration",
        "AccessPolicy",
        "GlobalSettings",
        "EndpointPolicy",
        "BrandingPolicy"
      ]
    },
    "PolicySimulationSignRequest": {
      "type": "object",
      "properties": {
        "payload": {
          "type": "string"
        }
      }
    },
    "CreateScimIntegrationResponse": {
      "allOf": [
        {
          "$ref": "#/definitions/BaseResponse"
        },
        {
          "type": "object",
          "properties": {
            "apiKey": {
              "type": "string"
            },
            "integration": {
              "$ref": "#/definitions/ScimIntegrationInfo"
            }
          }
        }
      ]
    },
    "ScimIntegrationInfo": {
      "type": "object",
      "required": [
        "id",
        "idpType",
        "status"
      ],
      "properties": {
        "id": {
          "type": "string",
          "format": "guid"
        },
        "idpType": {
          "$ref": "#/definitions/ScimIdpType"
        },
        "status": {
          "$ref": "#/definitions/ScimIntegrationStatus"
        }
      }
    },
[...]
